.container {
       /*border: 1px solid red;*/
    margin: 0 auto;
    width: 1280px;
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, 0.0001);
}

/*LOGO*/

.logo_text {
    height: 178px;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000000;
}

.logo_text span {
    color: aqua;
}

/*MENU*/

.header_nav {
    background: #35444F;
}

.header__nav__list {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
}

.header__nav__list li {
    Font-Size: 24px;
    Line-Height: 28px;
    border-right: 1px solid #ffffff;
    padding: 20px;
    flex-grow: 1;
    text-align: center;
}

.header__nav__list li:last-child {
    border-right: none;
}

.header__nav__list li:hover {
    background: #222F3A;
}

/* MAIN left menu*/

.content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.aside_nav {
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
}

.aside_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.aside_menu li {
    padding: 25px 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-align: left;

}

.aside_menu li:hover {
    padding: 25px 55px;
    background: #DBDBDB;
    color: #35444F;
}

/* MAIN picture*/

.picture {
    width: 885px;
}

.picture__wrapper {
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture__wrapper--scale img {
    transition: 0.6s;
    /* Время эффекта */
    display: block;
    /* Убираем небольшой отступ снизу */
}

.picture__wrapper--scale img:hover {
    transform: scale(1.2);
    /* Увеличиваем масштаб */
}

/* MAIN text*/
.text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    align-items: start;
    color: #2C2C2C;
    padding-top: 34px;
    text-align: left;
}

/*footer*/

.footer_wrapper {
    display: flex;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    margin: 54px 0 30px;
}

.footer_menu {
    display: flex;
    flex-grow: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer_menu li {
    padding: 20px 20px;
}

.footer_wrap:last-child {
    justify-content: flex-end;
    align-items: center;
}

.footer_linc:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.text_copyright {
    padding-right: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}